{{#each model}}
    <a href='#/color/{{unbound id}}' class='graph-item' style='-webkit-transform: translate3d({{unbound radial3X}}px, {{unbound radial3Y}}px, {{unbound l}}px); z-index: {{unbound l}}; background-color: #{{unbound hex}};' ></a>
{{/each}}

{{!-- Hacky Links Routing --}}