<div class="graph">
    {{#each model}}
        <a href='#/color/{{unbound id}}' class='graph-item' style='left: {{unbound radialX}}%; top: {{unbound radialY}}%; width: {{unbound size}}%; padding-bottom: {{unbound size}}%; z-index: {{unbound l}}; background-color: #{{unbound hex}};' ></a>
    {{/each}}
</div>
{{!-- Hacky Links Routing --}}