{{#each model}}
    <a href='#/color/{{unbound id}}' class='graph-item' style='left: {{unbound linearX}}%; top: {{unbound linearY}}%; z-index: {{unbound s}}; background-color: #{{unbound hex}};'></a>
{{/each}}

 {{!-- Hacky Links Routing --}}