<header>
    <nav role='navigation' class='container'>
        <input type='checkbox' id='menu'>
        <label for='menu' onclick></label>
        <h1>{{#link-to 'about'}}Emotive Color{{/link-to}}</h1>
        <ul>
            <li>{{#link-to 'color.new'}}⊙ Contribute{{/link-to}}</li>
            <li>{{#link-to 'emotion' 'All'}}∴ Analyse{{/link-to}}</li>
            <li>{{#link-to 'manage'}}{{Emotivecolor.FBUser.name}}{{/link-to}}</li>
            <li>{{#if Emotivecolor.FBUser}}<a href="#" {{action "logout" target="FB"}}>Logout</a>{{else}}<a href="#" {{action "login" target="FB"}}>Login</a>{{/if}}</li>
        </ul>
    </nav>
</header>
{{view Emotivecolor.AlertListView}}
<div class='container'>
    {{outlet}}
</div>