<div class='bg-color' {{bindAttr style='fillStyle'}}></div>
<h1>{{getName}} made you feel {{emotion}}</h1>
<h2>#{{hex}}</h2>
<h2>rgb ({{r}}, {{g}}, {{b}})</h2>
<h2>hsl ({{h}}°, {{s}}%, {{l}}%)</h2>
<br/>
<footer>
    {{#link-to 'colors' class='btn'}}Back{{/link-to}}
    <button {{action 'delete'}}> Delete</button>
</footer>