{{!-- <h1>All loaded colors</h1>
 --}}
{{!-- <div id='renderer'></div>
 --}}{{!-- <button {{action "swapVis"}}>Swap Visualisations</button>
{{#if circleVis}}
    {{partial '3dVisualiser'}}
{{else}}
    {{view Emotivecolor.GraphView}}
    {{view Emotivecolor.PlotView}}
{{/if}} --}}

{{!-- {{partial 'table'}} --}}
Displaying {{mesher}} colors.