<h1>Colors</h1>
<table>
	<thead>
		<tr>
			<th>Hex</th>
			<th>Emotion</th>
		</tr>
	</thead>
	{{#each model}}
	<tr>
		<td style='background-color: #{{unbound this.hex}}'>{{#linkTo 'color' this}}{{this.hex}}{{/linkTo}}</td>
		<td>{{#linkTo 'color' this}}{{this.emotion}}{{/linkTo}}</td>
		<td><button {{action 'delete' this}}>✖ Delete</button></td>
	</tr>
	{{/each}}
</table>

{{outlet}}
