{{!-- <h1>All loaded colors</h1>
 --}}
{{!-- <div id='renderer'></div>
 --}}{{!-- <button {{action "swapVis"}}>Swap Visualisations</button>
{{#if circleVis}}
    {{partial '3dVisualiser'}}
{{else}}
    {{view Emotivecolor.GraphView}}
    {{view Emotivecolor.PlotView}}
{{/if}} --}}

{{!-- {{partial 'table'}} --}}
<div {{!-- class='hide' --}}>
<h1>All Entered Colors</h1>
Displaying {{mesher}} colors
</div>