<h1>{{mesher}} {{#if isAllUsers}}of everyone's {{currentEmotion}} colors{{else}}of {{Emotivecolor.FBUser.first_name}}'s {{currentEmotion}} colors {{/if}}</h1>
{{!-- {{#link-to 'emotions' class='btn'}}Back{{/link-to}} --}}
<button {{action 'resetCamera'}}>Reset View</button>
<button {{action 'toggleEmotionModal'}}>Change Emotion</button>
{{#if Emotivecolor.FBUser.id}}
    <button {{action 'toggleAllUsers'}}>
    {{#if isAllUsers}}Show Only Yours{{else}}Show Everyone's{{/if}}
    </button>
{{/if}}

{{#if isEmotionVisible}}
    <div {{action 'toggleEmotionModal'}} class="modal emotion-modal">
        {{partial 'controls'}}
        <button {{action 'click' 'All'}} class="btn blockcenter">All Colors</button>
        <h1 class='textcenter'>Select an emotion to view</h1>
    </div>
{{/if}}