<div {{!-- class='hide' --}}>
<h1>{{mesher}} {{currentEmotion}} colors</h1>
<button {{action 'resetCamera'}}>Reset View</button>
<br/>
{{#link-to 'emotions' class='btn'}}Back{{/link-to}}

{{!-- {{partial 'table'}} --}}

{{outlet}}
</div>