<div {{!-- class='hide' --}}>
<h1>{{mesher}} {{currentEmotion}} colors</h1>
{{#link-to 'emotions' class='btn'}}Back{{/link-to}}
<button {{action 'resetCamera'}}>Reset View</button>
{{!-- {{partial 'table'}} --}}

{{outlet}}
</div>