<h1>A Single Emotion</h1>
<button {{action "swapVis"}}>Swap Visualisations</button>
{{#if circleVis}}
    {{view Emotivecolor.GraphView}}
{{else}}
    {{view Emotivecolor.PlotView}}
{{/if}}
{{#link-to 'emotions' class='btn'}}Back to Emotions List{{/link-to}}
{{!-- {{partial 'table'}} --}}

{{outlet}}
