<div {{!-- class='hide' --}}>
<h1>{{mesher}} {{currentEmotion}} colors</h1>
{{!-- {{partial 'css3d'}}
 --}}
 {{!-- <button {{action "swapVis"}}>Swap Visualisations</button>
{{#if circleVis}}
    {{partial '3dVisualiser'}}
{{else}}
    {{view Emotivecolor.GraphView}}
    {{view Emotivecolor.PlotView}}
{{/if}} --}}
{{#link-to 'emotions' class='btn'}}Back to Emotions List{{/link-to}}

{{!-- {{partial 'table'}} --}}

{{outlet}}
</div>