{{#if Emotivecolor.FBUser}}
    <button {{action "logout" target="FB"}}>Logout</button>
        {{!-- <img class='ico-fb' {{bindAttr src="Emotivecolor.FBUser.picture.data.url" alt="Emotivecolor.FBUser.name"}} /> --}}
    <ul class='list-left text-large list-nostyle'>
        <li class='normalcase'>{{Emotivecolor.FBUser.name}}</li>
        <li>{{Emotivecolor.FBUser.gender}}</li>
        <li>{{Emotivecolor.FBUser.birthday}}</li>
        <li><img class='map-fb' src="http://maps.googleapis.com/maps/api/staticmap?center={{unbound Emotivecolor.FBUser.location.name}}&zoom=15&size=640x360&sensor=false" alt="{{unbound Emotivecolor.FBUser.location.name}}"/></li>
        <li><img class='map-fb' src="http://maps.googleapis.com/maps/api/staticmap?center={{unbound Emotivecolor.FBUser.hometown.name}}&zoom=15&size=640x360&sensor=false" alt="{{unbound Emotivecolor.FBUser.hometown.name}}"/></li>
    </ul>

{{else}}
    <button {{action "login" target="FB"}}>Login</button>
{{/if}}